.Body{
    text-align: center;
}

.Box {
    position: relative;
    width: 300px; /* Adjust according to your image dimensions */
    height: 400px; /* Adjust according to your image dimensions */
    padding: 10px;
    display: inline-block;
  }

.Body a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.Body a:hover {
    background-color: green;
}

  .TextOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners for the overlay */
  }
  